/* @font-face {
    font-family: 'Red Hat';
    src: url('RedHatDisplay-ExtraBold.ttf') format('ttf');
  } */

  @import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Red+Hat+Display&display=swap');
*{    
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}



    .menu-container{
        font-weight: bold;
        padding: 2%;
        font-size: 100%;
        font-weight: 500;
        display: flex;
        justify-content: space-around;
    }
    .links{
        color: black;
        padding: 10px;
        display: flex;
        justify-content: center;
    }
    
    .links div{
        padding: 10px 20px;
    }
    
    .culture-easy{
        padding: 10px;
        align-items: flex-start;
        width: fit-content;
        height: 40px;
    }
    
    .culture-easy img{
        height: 40px;
    }
    
    .login-register{
        padding: 10px;
        width: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .login{
        color: #5330c9;
        padding: 10px 20px;
        margin-right: 60px;
    }
    
    .get-started{
        width: fit-content;
        color: #5330c9;
        background-color: #e5e0f7;
        border-radius: 5px;
        padding: 10px 20px;
    }
    
    .get-started:hover{
        cursor: pointer;
    }
    
    .links div:hover,
    .login-register div:hover,
    .culture-easy:hover{
        cursor: pointer;
    }   


.burger-icon{
    align-self: center;
    width: 6%;
    margin-right: -33%;
}

.drop-downs{
    display: none;
}


.bar{
    margin: 12%;
    line-height: 1px;
    padding: 6%;
    border-radius: 20%;
    background-color: #5330c9;
}

/* mobile  */
@media only screen and (max-width:767px){
    .links{
        display: none;
    }    
    .login-register{
        display: none;
    }    
}    

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .links{
        display: none;
    }
    .login-register{
        margin-left: none;
    }
}    

/* desktop */
@media only screen and (min-width:1025px){
    .burger-icon{
        display: none;
    }
}
